LaTex/source/1_Magnetisches_Feld.aux
LaTex/source/1_Magnitsches_Feld.aux
LaTex/source/2_Induktion.aux
LaTex/source/3_Wechselstromlehre.aux
LaTex/main.aux
LaTex/main.fdb_latexmk
LaTex/main.fls
LaTex/main.lof
LaTex/main.log
LaTex/main.lot
LaTex/main.out
LaTex/main.pdf
LaTex/main.synctex.gz
LaTex/main.toc
